
/**
 *
 * @author arnau & rafa
 */


/* Fondo oscuro de la página */
body {
    background-color: #121212;
    color: #f5f5f5;
}

/* Estilos del panel */
.panel-primary {
    border-color: #444;
    background-color: #333;
}

.panel-primary .panel-heading {
    background-color: #444;
    border-color: #444;
    color: #fff;
}

/* Botones */
.btn-primary {
    background-color: #337ab7;
    border-color: #004999;
    
}

.btn-primary:hover {
    background-color: #005bb5;
}

/* Dropdowns de filtros */
.filter-dropdown {
    text-align: center;
    position: relative;
    display: block;
    width: 100%;
}

.filter-dropdown:hover .dropdown-content {
    display: block;
    left: 0.75%;
   }

.dropdown-content {
    margin-left: 22%;
    display: none;
    position: absolute;
    background-color: #222;
    color: #fff;
    padding: 10px;
    z-index: 1;
    min-width: calc(0.5 * 100%);
}

.dropdown-content label {
    display: block;
}

.dropdown-content input[type="checkbox"] {
    margin-right: 5px;
}

/* Estilos de los artículos */
.article-item {
    background-color: #1e1e1e;
    border: 1px solid #333;
    color: #f5f5f5;
}

.article-item a {
    color: #fff;
}

/* Fuente y espaciado general */
.panel-body {
    font-size: 1.1em;
}
